html {
    box-sizing: border-box;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
}

*, *:before, *:after {
    box-sizing: inherit;
    transition-duration: inherit;
    -webkit-transition-duration: inherit;
    -moz-transition-duration: inherit;
}

body {
    color: #dddddd;
    background: #000000 url('/static/image/bg.jpg') fixed;
    background-size: 100% auto;
    font-family: 'Open Sans','helvetica',"微软雅黑",arial,sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
}


.container {
    width: 980px;
    margin: auto;
}

.navbar {
    background-color: #2b2b2b;
    overflow: hidden;
    box-shadow: 0 0 20px 1px #222222;
    padding-left: 50px;
}

.navbar li{
    box-sizing: border-box;
    list-style-type: none;
    float: left;
    display: block;
    font-size: 20px;
    line-height: 38px;
    padding: 0 20px;
    text-transform: uppercase;
    text-shadow: 0 1px rgba(0,255,0,0.1);
}

.navbar li.active, .navbar li:hover{
    border-bottom: solid 2px #669933;
    transition-duration: 0.3s;
    background-color: #222222;
}

.navbar li.nav-brand {
    padding-top: 1px;
}

.navbar li.nav-brand:hover{
    border-bottom: inherit;
    background-color: inherit;
}

.navbar li.active a, .navbar li:hover a{
    color: #fff;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.uploader {
    margin-top: 20px;
    display: none;
}

#drop {
    background-color: #2b2b2b;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px #222222;
}

.dropzone .dz-preview.dz-image-preview {
    background-color: inherit;
}

.main {
    margin-bottom: 15px;
}

.wall {
    margin-top: 20px;
    padding: 10px;
    background-color: #2b2b2b;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px #222222;
}

.wall-thumb {
    float: left;
    margin: 5px;
    box-sizing: border-box;
    border: solid 1px #c8a732;
    overflow: hidden;
    height:160px;
    width: 180px;
}

.fa-green {
    color: #209361;
}

#drop:hover .fa-green {
    color: #0F769F;
}

.wall-thumb:hover {
    border: solid 1px #669933;
    box-shadow: 0 0 10px 1px #669933;
}

.wall-title{
    display: inline-block;
    text-align: left;
    border-left: solid 10px #0F769F;
    margin: 0 0 5px -20px;
    line-height: 30px;
    color: #fff;
    background-color: #209361;
    padding: 0 15px 0 10px;
    box-shadow: 0 0 10px 1px #333;
    border-radius: 3px;
    font-weight: 100;
}

.wall-title:hover {
    border-left: solid 10px #209361;
    color: #209361;
    background-color: #fff;
}

.wall-title a{
    color: #ffff00;
}

.main-img {
    display: block;
    max-width: 90%;
    margin: 0 auto 10px auto;
    border: solid 5px #222222;
    border-radius: 10px;
}

.img-description, .link-address {
    width: 90%;
    margin: 0 auto 10px auto;
    background-color: #363636;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 1px 1px #222222 inset;
}

.link-address textarea, .form-mid textarea{
    display: block;
    width: 100%;
    overflow: hidden;
    background-color: inherit;
    border: none;
    height: 22px;
}

.wall-thumb img {
    display: block;
    margin:auto;
    box-sizing: border-box;
}

.thumb-cover {
    height: 22px;
    display: none;
    position: relative;
    bottom: 22px;
    background-color: rgba(32, 147, 97, 0.73);
    font-size: small;
    overflow: hidden;
    padding: 1px 5px;
    font-weight: 100;
}

.thumb-hover{
    z-index: 3;
    position: absolute;
    margin-top: -20px;
    background-color: #2b2b2b;
    border: solid 1px #494949;
    width: 220px;
    padding: 5px;
    margin-left: -20px;
    border-radius: 3px;
    font-size: x-small;
    font-weight: 100;
    display: none;
}

.user-form {
    display: block;
    margin: auto;
}

.wall-narrow {
    margin: 20px auto 0 auto;
    width: 40%;
}

.wall-mid {
    margin: 20px auto 0 auto;
    width: 70%;
}

.user-form input[type="submit"]{
    display: block;
    background-color: #209361;
    border-style: none;
    margin-left: 105px;
    margin-top: 10px;
}

.input-field label{
    display: inline-block;
    width: 100px;
    text-align: right;
}

.input-field input{
    background-color: #363636;
    border: 1px solid #222222;
    margin-top: 10px;
}

.input-field input:focus{
    background-color: #363636;
    border: 1px solid #209361;
    outline: none;
}


.form-mid label {
    width: 300px;
    vertical-align: middle;
}

.form-mid input[type="submit"]{
    border: 1px solid #209361;
    margin-left: 305px;
}

.form-mid textarea {
    display: inline;
    width: 600px;
    height: 100px;
     background-color: #363636;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 1px 1px #222222 inset;
    outline: none;
    margin-top: 10px;

}

footer {
    background-color: #2b2b2b;
    color: #ccc;
    box-shadow: 0 0 10px 1px #222222;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -22px;
}

.wrapper:after {
  content: "";
  display: block;
}

footer, .wrapper:after {
  height: 22px;
}

.flashes li{
    list-style-type: none;
}

a.claim{
    color: #ffff00;
}

.pager {
    margin-top: 10px;
}

.pager a.page {
    background-color: #209361;
    border: solid 2px #222222;
    padding: 3px 8px;
}

.pager a.active {
    background-color: #0F769F;
}