{% extends 'form-mid.html' %}

{% block form_title %}
    图片编辑
{% endblock %}

{% block form %}
    <form action="" class="user-form form-mid" method="post">
        <div class="input-field">
            <label for="title">图片标题</label>
            <input type="text" name="title" id="title" value="{{ image.title }}">
        </div>
        <div class="input-field">
            <label for="desc">图片描述</label>
            <textarea name="desc" id="desc" >{{ image.description }}</textarea>
        </div>
        <div class="input-field">
            <label for="tags">标签（空格隔开）</label>
            <input type="text" name="tags" id="tags" value="{% for tag in image.tags %}{{ tag }} {% endfor %}"><br>
        </div>
        <input type="submit" value="提交">
    </form>
{% endblock %}