{% extends 'base.html' %}

{% block inside_wall %}
    <h3 class="wall-title clearfix">图片名称：{{ image.title }}
        {% if image.user == current_user %}
            [<a href="{{ url_for('.edit_image', iid=image.iid) }}">编辑</a>]
        {% endif %}
    </h3>
    <img class="main-img" src="{{ url_for('.display_image', iid=image.iid) }}" alt="{{ image.title }}"/>
    <h3 class="wall-title clearfix">图片说明
        {% if image.user == current_user %}
            [<a href="{{ url_for('.edit_image', iid=image.iid) }}">编辑</a>]
        {% endif %}
    </h3>
    <div class="img-description">
        {{ image.description }}
        {% if image.gallery %}
            <p>
                所属相册: {% for gallery in image.gallery %}
                <a href="{{ url_for('.gallery_view', gid=gallery.id) }}">
                    {{ gallery.title }}
                </a>
            {% endfor %}
            </p>
        {% endif %}
        {% if image.user.is_active() %}
            <p> 作者：<a href="{{ url_for('.user_picture', username=image.user.username) }}">{{ image.user }}</a></p>
        {% else %}
            <br/><a class="claim" href="{{ url_for('.claim_image', iid=image.iid) }}">此图野生，欢迎认领！（认领后可编辑）</a>
        {% endif %}
    </div>
    <h3 class="wall-title clearfix">图片标签</h3>
    <div class="img-description">
        {% for tag in image.tags %}
            <a href="{{ url_for('.tag_view', tag=tag) }}">{{ tag }}</a>
        {% endfor %}
    </div>
    <h3 class="wall-title clearfix">链接地址</h3>
    <div>
        <p>站内链接：</p>
        <p class="link-address">{{ request.base_url }}</p>
        <p>图片地址：</p>
        <p class="link-address">{{ request.url_root[:-1] }}{{ url_for('.display_image', iid=image.iid) }}</p>
        <p>HTML 引用：</p>
        <p class="link-address">
            <textarea>&lt;img  src=&quot;{{ request.url_root[:-1] }}{{ url_for('.display_image', iid=image.iid) }}&quot;&gt;</textarea>
        </p>
    </div>
    <h3 class="wall-title clearfix">评论</h3>
    <!-- 多说评论框 start -->
    <div class="ds-thread" data-thread-key="{{ image.iid }}" data-title="{{ image.title }}"></div>
    <!-- 多说评论框 end -->
{% endblock %}

{% block footer_ext %}
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
        var duoshuoQuery = {short_name:"{{ SETTINGS.duoshuo_short_name }}"};
        (function() {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';ds.async = true;
            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0]
            || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
    </script>
    <!-- 多说公共JS代码 end -->
{% endblock %}
